<% provide :title, t("news") %>
<% provide :button_text, t("create_new") %>

<div class="card">
  <div class="card-header">
    <h1 class="card-title color-list">
      <%= t "create_patient_account" %>
    </h1>
  </div>
  <div class="card-body ">
    <div class="form_container">
      <%= render "form" %>
    </div>
  </div>
</div>
