<%= provide :title, t("schedule") %>
<div class="time_table_area">
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
</div>
