<%= provide :title, t("schedule") %>
<div class="time_table_area">
  <div class="container">
    <div class="row">
      <div class="col">
        <%= content_tag "div", id: "calendar", data: {schedule: load_schedule } do %>
        <% end %>
      </div>
    </div>
  </div>
</div>
