<div class="col-md-7 offset-md-1">
  <div class="doctor_history">
    <div class="single_doctor_history">
      <h2><%= @doctor.full_name %></h2>
      <p><%= t "university" %></p>
    </div>
  </div>
</div>
