<% provide :title, t("doctor_list") %>
<h1><%= t "doctor_list" %></h1>
<div class="doctor_page">
  <div class="container">
    <div class="row">
      <%= render @doctors %>
    </div>
    <%= paginate @doctors %>
  </div>
</div>
