<% provide :title, t("create_doctor") %>
<div class="card card-primary center">
  <div class="card-header">
    <h3 class="card-title"><%= t "create_doctor" %></h3>
  </div>
  <div class="card-body">
    <%= render "form_doctor" %>
  </div>
</div>
