.create_account {
  float:right;
  margin-right: 50px;
  margin-bottom: 10px
}

th {
  text-align: center;
  background-color: $graylight;
}

.logo {
  width: 30%
}

.color-list {
  color: green;
}

.create-account {
  color: green;
  float: right;
}

.btn-size {
  width: 100px;
}

.action-head {
  width: 15em;
}

.center {
  margin-left: 25%;
  width: 50%;
}
