@import 'admin-lte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min';
@import 'admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min';
@import 'admin-lte/plugins/jqvmap/jqvmap.min';
@import 'admin-lte/dist/css/adminlte.min';
@import 'admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min';
@import 'admin-lte/plugins/daterangepicker/daterangepicker';
@import 'admin-lte/plugins/summernote/summernote-bs4';
@import 'color';
@import 'admin_css';
