/*
*= require animate.min
*= require owl.carousel.min
*= require slicknav.min
*= require nice-select
*= require responsive
*= require style
*= require custom
*= require("admin-lte/plugins/fontawesome-free/css/all.min")
*= require("admin-lte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min")
*= require("admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min")
*= require("admin-lte/plugins/jqvmap/jqvmap.min")
*= require("admin-lte/dist/css/adminlte.min")
*= require("admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min")
*= require("admin-lte/plugins/daterangepicker/daterangepicker")
*= require("admin-lte/plugins/summernote/summernote-bs4")
*= require("color")
*/
