$gray-second: #bbb;
$gray-medium-light: #eaeaea;
$black_gray: #2e2e2e;
$red: red;
$state-danger-text: #a94442 !default;
$white: white;
$light-blue: #337ab7;
$btn-color: #44A6F0;
$btn-border-color: #0099e6;
$gray: gray;
$graylight: #4b7cb1;
$solid-white-2: #DDD;
$solid-white-3: #ddd;
$black: black;
$gray-char: #818588;
$color-submit: #44A6F0;
