$gray-second: #bbb;
$gray-medium-light: #eaeaea;
$black_gray: #2e2e2e;
$red: red;
$state-danger-text: #a94442 !default;
$white: white;
$light-blue: #337ab7;
$btn-color: #44A6F0;
$btn-border-color: #0099e6;
$gray: gray;
$graylight: #4b7cb1;
$solid-white-2: #DDD;
$solid-white-3: #ddd;
$black: black;
$gray-char: #818588;
$color-submit: #44A6F0;
$darkred: darkred;
$red_light: #a94442;
$light_pink: #ebccd1;
$light_grey: #f2dede;
$notice_color: #3c763d;
$border_notice_color: #d6e9c6;
$background_notice_color: #dff0d8;
$alert_color: #a94442;
$border_alert_color: #ebccd1;
$background_alert_color: #f2dede;
