<footer>
  <div class="copyright_area">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>
            <%= t "copy_right" %>
            <%= link_to home_path, data: {turbolinks: "false"} do %>
              <%= t "app_name" %><i class="zmdi zmdi-favorite-outline"></i>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
